body {
    height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background: url(images/BTC.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
